/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Border Box */

*, *::after,*::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #DDF1FA;
}

html, body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  overflow-X: hidden;
  overflow-Y: auto;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
a, a:active, a:hover {
  color: inherit;
  text-decoration: none;
}
ul, li {
  display: block;
  list-style: none;
}
ul {
  margin: 10px 5px 15px;
  padding: 5px;
}
li {
  margin: 2px 0;
  padding: 6px 8px;
}
p {
  line-height: 1.5;
  margin: 10px;
  padding: 5px 5px 15px;
  text-align: justify;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color: #555;
  padding: 5px 10px 10px;
}
header {
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  z-index: 9;
  height: initial;
  padding: 5px;
  width: initial;
  
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
/*header  {
  cursor: pointer;
  font-size: 22px;
  height: initial;
  padding: 5px;
  width: initial;
}*/
header img {
  width: 30px;
  height: 30px;
  float: left;
  vertical-align: middle;
  margin: 10px 0 0 10px;
}

header h1 {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 100;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  border: 1px solid black;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  margin: 10px auto;
  width: 150px;
  
}
.intro {
  /* fallback */
  /*background-color: #DDF1FA;*/
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 102% 62%, 101% 100%, from(#DDF1FA), to(#448490));


  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #DDF1FA, #448490);

  /* IE 10 */
  background: -ms-linear-gradient(top, #DDF1FA, #448490);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #DDF1FA, #448490);
  margin: 88px auto 0px;
  padding: 0;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

  .intro img {
    max-width: 616px;
    height: auto;
    margin: auto;
  }
section, article, div, .box {
  overflow: hidden;
  position: relative;
}
section {
  margin: 20px auto 40px;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
#menu {
  background: #252525;
  bottom: 0;
  color: #858585;
  height: 100%;
  position: fixed;
  top: 0;
  width: 205px;
  z-index: 99;
}
#menu .box {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#menu .box::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu li {
  border-bottom: 1px solid #1F1F1F;
  font-size: 12px;
  line-height: 28px;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
}
#menu li:last-child {
  border: 0;
}
#menu {
  border-right: 1px solid #161616;
  left: -205px;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

#menu .content {
  position: relative;
  height: initial;
  width: 100%;
}
#menu .content  h5 {
  background: #353535;
  color: #CCC;
  font-weight: 400;
}


section.active, header.active, .intro.active, #menu.active, footer.active {
  -webkit-transform: translate3d(205px,0,0);
     -moz-transform: translate3d(205px,0,0);
          transform: translate3d(205px,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
#footer.active {
  -webkit-transform: translate3d(205px,0,0);
     -moz-transform: translate3d(205px,0,0);
          transform: translate3d(205px,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
section, article {
  background: inherit;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: initial;
}
article img {
  display: block;
  width: 100%;
}
article:nth-child(2n) {
  -webkit-transform: rotate3d(0,1,0,180deg);
     -moz-transform: rotate3d(0,1,0,180deg);
          transform: rotate3d(0,1,0,180deg);
}
article:nth-child(2n) .box .feed {
  -webkit-transform: rotate3d(0,1,0,180deg);
     -moz-transform: rotate3d(0,1,0,180deg);
          transform: rotate3d(0,1,0,180deg);
}
article .box:before {
  margin-top: 88px;
  background: #DDF1FA;
  content: "";
  margin-top: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -10px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
          transform: rotate(45deg);
}
.box .feed {
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: initial;
}
.box .feed h2 {
  color: #FF5B06;
  font-weight: 400;
  letter-spacing: 1px;
}
.box .feed p {
  color: #555;
  letter-spacing: 1px;
  line-height: 22px;
}
footer {
  background: #DFF2F9;
  position: relative;
  text-align: center;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
footer h2 {
  margin: 20px 10px 20px;
}

footer p {
  color: #656565;
  margin: 10px auto 10px;
  text-align: center;
  max-width: 500px;
}

footer a,
.year p,
.footer p{
  color: #FF5B06;
}

footer .footer, 
.year {
  height: 100%;
  padding: 20px 10px 20px;
}
footer .footer {
  background: #111;
}
footer .year {
  background: #000;
}
footer .container {
  background: #050505;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}


/*-------------------------------*/
/* CSS @media screen responsive
/*-------------------------------*/


@media only screen and (max-width: 480px) {  
  article .box .feed p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 528px) {
  article .box, footer .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  
  footer .box {
    height: 100%;
  }
}

@media only screen and (max-width: 528px) {  
  article .box .feed {
    margin: 15px 0 25px;
  }
  article .box:before {
    content: "";
    margin-top: 0;
    margin-left: -10px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 50% !important;
    right: auto;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
